<div  class = "footer">
  <div class="footer_left">
    <img calss="footer_logo" src ="https://swanipro.com/wp-content/uploads/2020/12/logosmall.png"/>
  </div>
  <div class="footer_mid">
  mid
  </div>
  <div class="footer_right">
    right
  </div>
</div>