<div class="sider">


  <h2>Latest news</h2>
  <hr />
  <div class="card" style="width: 20rem; border: none;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img class="sider_img"
            src="https://swanipro.com/wp-content/uploads/2020/12/Screen-Shot-2020-12-15-at-1.45.52-PM.png" />
        </div>
        <div class="col">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.
            <br />
            <a href="#">read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 20rem; border: none;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img class="sider_img"
            src="https://swanipro.com/wp-content/uploads/2020/12/Screen-Shot-2020-12-15-at-1.45.52-PM.png" />
        </div>
        <div class="col">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.
            <br />
            <a href="#">read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 20rem; border: none;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img class="sider_img"
            src="https://swanipro.com/wp-content/uploads/2020/12/Screen-Shot-2020-12-15-at-1.45.52-PM.png" />
        </div>
        <div class="col">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.
            <br />
            <a href="#">read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>