<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>MENA AGE</title>
</head>
<body class="body">
  <div class="container bg-info text-white">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Speak Up</label>
      <input type="text" class="form-control" id="storyTitle" placeholder="Title">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="story" placeholder="Message">
    </div>
    <div class="mb-3 form-check">
      Note: 
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</body>
</html>
