<div class="speakForm">
  <div class="card" style="width: 100%; border: none; background-color: transparent; align-items: center;">
    <div class="card-body" style="width: 90%;">
      <form class="container text-white " action="/speakUp" method="POST">
        <div class="mb-3">
          <label class="form-label">
            <h1 class="text-light">Speak Up</h1>
          </label>
          <br />
          <br />
          <input type="text" name="title" class="form-control" id="storyTitle" placeholder="Title">
        </div>
        <div class="mb-3">
          <textarea type="text" name="message" class="form-control" id="story" placeholder="Message"></textarea>
        </div>
        <div class="mb-3 form-check">
          <p>* Note:</p>
          <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
            previewing layouts.</p>
        </div>
        <div class="center">
          <button type="submit" class="btn send">Send</button>
        </div>

      </form>
    </div>
  </div>
</div>