<div class="speakForm">
  <div class="card" style="width: 100%; border: none; background-color: transparent; align-items: center;">
    <div class="card-body" style="width: 90%;">
      <form class="container text-white " action="/submitYourWork" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">
            <h1 class="text-light">Submit Your Work</h1>
          </label>
          <br />
          <br />
         
            <select class="custom-select mb-3" id="inputGroupSelect01" name="category">
              <option selected>None</option>
              <option value="article">Article</option>
              <option value="story">Story</option>
              <option value="poem">Poem</option>
              <option value="video">Video</option>
              <option value="art">Piece of Art</option>
              <option value="other">Others</option>
            </select>
          
  
          <input type="text" name="title" class="form-control" id="storyTitle" placeholder="Title">
        </div>
        <div class="mb-3">
          <textarea type="text" name="message" class="form-control" id="story" placeholder="Message"></textarea>
        </div>
        <input type=text name= 'email' class= 'form-control mb-3' id="email" placeholder="Email" required>
        <input type="file" name="myfile"/>
        <div class="center">
          <button type="submit" class="btn send mt-3 mb-3">Send</button>
        </div>

      </form>
    </div>
  </div>
</div>