<a href="/articles" class=" btn btn-secondary mt-3">All Articles</a>
<div class='container'>
  <h1 class="mb-1 mt-3"><%= article.title %></h1>
  <div class="text-muted mb-2">
    <%= article.createdAt.toLocaleDateString() %>
  </div>


  <div>
    <%- article.sanitizedHtml %>
  </div>